In [16]:
import pandas as pd
import numpy as np

In [17]:
%%bash
git clone https://github.com/kptriescoding/farmer-app-datasets

fatal: destination path 'farmer-app-datasets' already exists and is not an empty directory.

In [18]:
df_name=pd.read_csv("/content/farmer-app-datasets/Recommendation System/ExportCSV.csv")
df_farmer=pd.read_csv("/content/farmer-app-datasets/Datasets/farmers.csv")["Bates Double Glazing Ltd"]
arr=[];
for i in range(1,501):
  id=str(i)
  while len(id)<3:
    id="0"+id
  arr.append("user_"+id)
df_userId=pd.DataFrame(arr,columns=["uid"])
df_userId

          uid
0    user_001
1    user_002
2    user_003
3    user_004
4    user_005
..        ...
495  user_496
496  user_497
497  user_498
498  user_499
499  user_500

[500 rows x 1 columns]

In [19]:
d_farmer=[]
for i in range(1,400):
  d_farmer.append(df_farmer.loc[np.random.randint(0,4)])
d_farmer

['Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Riverside Circuitry Ltd',
 'Tilly Beverages Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Tilly Beverages Ltd',
 'Tilly Beverages Ltd',
 'Oakes Workshops Ltd',
 'Riverside Circuitry Ltd',
 'Peabody Workwear Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Oakes Workshops Ltd',
 'Peabody Workwear Ltd',
 'Tilly Beverages Ltd']

In [20]:
d_frequency=np.random.randint(1,7,400)
d_na=np.full(shape=100,fill_value=0)
d_f=np.concatenate([d_frequency,d_na],axis=None)
df=pd.DataFrame(d_f,columns=["Wheat Freqeuncy"]);


d_quan=np.random.randint(1,1000,400)
d_q=np.concatenate([d_quan,d_na],axis=None)
df_q=pd.DataFrame(d_q,columns=["Wheat Quantity"])


np.random.shuffle(d_farmer)
d_ex=np.full(shape=100,fill_value="NA")
df_f=pd.DataFrame(d_farmer,columns=["Wheat Seller"])



df_full=pd.concat([df,df_q,df_f],axis=1)
df_full_wheat=df_full.sample(frac=1)
print(df_full_wheat)

     Wheat Freqeuncy  Wheat Quantity             Wheat Seller
197                2             944  Riverside Circuitry Ltd
189                6             799  Riverside Circuitry Ltd
248                1             465      Oakes Workshops Ltd
270                4             931  Riverside Circuitry Ltd
305                2             608  Riverside Circuitry Ltd
..               ...             ...                      ...
111                6             723     Peabody Workwear Ltd
293                5             566      Tilly Beverages Ltd
203                3             268      Oakes Workshops Ltd
158                3             353     Peabody Workwear Ltd
374                2             714      Tilly Beverages Ltd

[500 rows x 3 columns]

In [21]:
d_frequency=np.random.randint(1,7,400)
d_na=np.full(shape=100,fill_value=0)
d_f=np.concatenate([d_frequency,d_na],axis=None)
df=pd.DataFrame(d_f,columns=["Rubber Freqeuncy"]);


d_quan=np.random.randint(1,1000,400)
d_q=np.concatenate([d_quan,d_na],axis=None)
df_q=pd.DataFrame(d_q,columns=["Rubber Quantity"])


np.random.shuffle(d_farmer)
d_ex=np.full(shape=100,fill_value="NA")
df_f=pd.DataFrame(d_farmer,columns=["Rubber Seller"])



df_full=pd.concat([df,df_q,df_f],axis=1)
df_full_rubber=df_full.sample(frac=1)
print(df_full_rubber)

     Rubber Freqeuncy  Rubber Quantity            Rubber Seller
295                 2              462      Tilly Beverages Ltd
340                 6              882     Peabody Workwear Ltd
300                 5              777      Tilly Beverages Ltd
21                  5               99  Riverside Circuitry Ltd
253                 6              460      Oakes Workshops Ltd
..                ...              ...                      ...
389                 5              286      Oakes Workshops Ltd
332                 1              366     Peabody Workwear Ltd
145                 4              596     Peabody Workwear Ltd
493                 0                0                      NaN
498                 0                0                      NaN

[500 rows x 3 columns]

In [22]:
d_frequency=np.random.randint(1,7,400)
d_na=np.full(shape=100,fill_value=0)
d_f=np.concatenate([d_frequency,d_na],axis=None)
df=pd.DataFrame(d_f,columns=["Maize Freqeuncy"]);


d_quan=np.random.randint(1,1000,400)
d_q=np.concatenate([d_quan,d_na],axis=None)
df_q=pd.DataFrame(d_q,columns=["Maize Quantity"])


np.random.shuffle(d_farmer)
d_ex=np.full(shape=100,fill_value="NA")
df_f=pd.DataFrame(d_farmer,columns=["Maize Seller"])



df_full=pd.concat([df,df_q,df_f],axis=1)
df_full_maize=df_full.sample(frac=1)
print(df_full_maize)

     Maize Freqeuncy  Maize Quantity             Maize Seller
416                0               0                      NaN
476                0               0                      NaN
252                3             253  Riverside Circuitry Ltd
230                2              94     Peabody Workwear Ltd
32                 5             759  Riverside Circuitry Ltd
..               ...             ...                      ...
232                2              43      Oakes Workshops Ltd
155                2             856      Oakes Workshops Ltd
439                0               0                      NaN
92                 5             553      Tilly Beverages Ltd
235                5             770      Tilly Beverages Ltd

[500 rows x 3 columns]

In [23]:
d_frequency=np.random.randint(1,7,400)
d_na=np.full(shape=100,fill_value=0)
d_f=np.concatenate([d_frequency,d_na],axis=None)
df=pd.DataFrame(d_f,columns=["Barley Freqeuncy"]);


d_quan=np.random.randint(1,1000,400)
d_q=np.concatenate([d_quan,d_na],axis=None)
df_q=pd.DataFrame(d_q,columns=["Barley Quantity"])


np.random.shuffle(d_farmer)
d_ex=np.full(shape=100,fill_value="NA")
df_f=pd.DataFrame(d_farmer,columns=["Barley Seller"])



df_full=pd.concat([df,df_q,df_f],axis=1)
df_full_barley=df_full.sample(frac=1)
print(df_full_barley)

     Barley Freqeuncy  Barley Quantity            Barley Seller
377                 3              235  Riverside Circuitry Ltd
116                 5              742  Riverside Circuitry Ltd
125                 4              732      Oakes Workshops Ltd
276                 5              193      Tilly Beverages Ltd
389                 3              877  Riverside Circuitry Ltd
..                ...              ...                      ...
228                 2              197      Tilly Beverages Ltd
475                 0                0                      NaN
394                 1              243      Tilly Beverages Ltd
269                 3              362     Peabody Workwear Ltd
35                  5              591  Riverside Circuitry Ltd

[500 rows x 3 columns]

In [24]:
d_frequency=np.random.randint(1,7,400)
d_na=np.full(shape=100,fill_value=0)
d_f=np.concatenate([d_frequency,d_na],axis=None)
df=pd.DataFrame(d_f,columns=["Sugercane Freqeuncy"]);


d_quan=np.random.randint(1,1000,400)
d_q=np.concatenate([d_quan,d_na],axis=None)
df_q=pd.DataFrame(d_q,columns=["Sugercane Quantity"])


np.random.shuffle(d_farmer)
d_ex=np.full(shape=100,fill_value="NA")
df_f=pd.DataFrame(d_farmer,columns=["Sugercane Seller"])



df_full=pd.concat([df,df_q,df_f],axis=1)
df_full_sugarcane=df_full.sample(frac=1)
print(df_full_sugarcane)

     Sugercane Freqeuncy  Sugercane Quantity         Sugercane Seller
111                    6                 885      Oakes Workshops Ltd
337                    1                 242      Tilly Beverages Ltd
475                    0                   0                      NaN
90                     6                 479      Tilly Beverages Ltd
390                    6                 676      Oakes Workshops Ltd
..                   ...                 ...                      ...
356                    3                 736  Riverside Circuitry Ltd
118                    5                 564     Peabody Workwear Ltd
414                    0                   0                      NaN
79                     6                 228     Peabody Workwear Ltd
383                    2                 362     Peabody Workwear Ltd

[500 rows x 3 columns]

In [25]:
d_dist=np.random.randint(1,1000,500)
d_dis=np.concatenate(d_dist,axis=None)
df_dis=pd.DataFrame(d_dis,columns=["Distance"])

In [26]:
df_full_wheat=df_full_wheat.reset_index();
df_full_rubber=df_full_rubber.reset_index();
df_full_maize=df_full_maize.reset_index();
df_full_sugarcane=df_full_sugarcane.reset_index();
df_full_barley=df_full_barley.reset_index();
df_dis.reset_index()

     index  Distance
0        0       963
1        1       354
2        2       368
3        3       363
4        4       773
..     ...       ...
495    495       142
496    496       431
497    497       102
498    498       524
499    499       710

[500 rows x 2 columns]

In [29]:
df=pd.concat([df_userId,df_name,df_full_wheat,df_full_sugarcane,df_full_rubber,df_full_maize,df_full_barley,df_dis],axis=1);
df.drop(["index"],inplace=True,axis=1)
print(df)

          uid FirstName LastName  Wheat Freqeuncy  Wheat Quantity  \
0    user_001      Hayden Ripley                2             944
1    user_002         Lucy Lakey                6             799
2    user_003        Daphne Long                1             465
3    user_004       Percy Torres                4             931
4    user_005  Vanessa Alldridge                2             608
..        ...                ...              ...             ...
495  user_496       Taylor Vince                6             723
496  user_497     Bryce Clarkson                5             566
497  user_498        Gina Watson                3             268
498  user_499     Martin Poulton                3             353
499  user_500      Johnny Palmer                2             714

                Wheat Seller  Sugercane Freqeuncy  Sugercane Quantity  \
0    Riverside Circuitry Ltd                    6                 885
1    Riverside Circuitry Ltd                    1                 242
2        Oakes Workshops Ltd                    0                   0
3    Riverside Circuitry Ltd                    6                 479
4    Riverside Circuitry Ltd                    6                 676
..                       ...                  ...                 ...
495     Peabody Workwear Ltd                    3                 736
496      Tilly Beverages Ltd                    5                 564
497      Oakes Workshops Ltd                    0                   0
498     Peabody Workwear Ltd                    6                 228
499      Tilly Beverages Ltd                    2                 362

            Sugercane Seller  Rubber Freqeuncy  Rubber Quantity  \
0        Oakes Workshops Ltd                 2              462
1        Tilly Beverages Ltd                 6              882
2                        NaN                 5              777
3        Tilly Beverages Ltd                 5               99
4        Oakes Workshops Ltd                 6              460
..                       ...               ...              ...
495  Riverside Circuitry Ltd                 5              286
496     Peabody Workwear Ltd                 1              366
497                      NaN                 4              596
498     Peabody Workwear Ltd                 0                0
499     Peabody Workwear Ltd                 0                0

               Rubber Seller  Maize Freqeuncy  Maize Quantity  \
0        Tilly Beverages Ltd                0               0
1       Peabody Workwear Ltd                0               0
2        Tilly Beverages Ltd                3             253
3    Riverside Circuitry Ltd                2              94
4        Oakes Workshops Ltd                5             759
..                       ...              ...             ...
495      Oakes Workshops Ltd                2              43
496     Peabody Workwear Ltd                2             856
497     Peabody Workwear Ltd                0               0
498                      NaN                5             553
499                      NaN                5             770

                Maize Seller  Barley Freqeuncy  Barley Quantity  \
0                        NaN                 3              235
1                        NaN                 5              742
2    Riverside Circuitry Ltd                 4              732
3       Peabody Workwear Ltd                 5              193
4    Riverside Circuitry Ltd                 3              877
..                       ...               ...              ...
495      Oakes Workshops Ltd                 2              197
496      Oakes Workshops Ltd                 0                0
497                      NaN                 1              243
498      Tilly Beverages Ltd                 3              362
499      Tilly Beverages Ltd                 5              591

               Barley Seller  Distance
0    Riverside Circuitry Ltd       963
1    Riverside Circuitry Ltd       354
2        Oakes Workshops Ltd       368
3        Tilly Beverages Ltd       363
4    Riverside Circuitry Ltd       773
..                       ...       ...
495      Tilly Beverages Ltd       142
496                      NaN       431
497      Tilly Beverages Ltd       102
498     Peabody Workwear Ltd       524
499  Riverside Circuitry Ltd       710

[500 rows x 18 columns]

# New Section

In [28]:
df.to_csv('customer_data_ver_2.csv', index=False)